@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  background-color: gray;
}
.sen{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: aqua;
  padding-bottom: 10%;
}